{
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "parser": "@typescript-eslint/parser",
  "rules": {
    "getter-return": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-console": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-duplicate-imports": "error",
    "no-dupe-args": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-extra-semi": "error",
    "no-extra-parens": ["error", "all", { "ignoreJSX": "single-line" }],
    "no-extra-boolean-cast": "error",
    "no-func-assign": "error",
    "complexity": ["error", { "max": 2 }],
    "block-scoped-var": "error",
    "curly": ["error", "multi-line"],
    "consistent-return": "error",
    "eqeqeq": ["error", "always"],
    "no-alert": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-iterator": "error",
    "no-label-var": "error",
    "no-new-wrappers": "error",
    "no-new-func": "error",
    "no-new": "error",
    "array-bracket-newline": ["error", { "multiline": true }],
    "block-spacing": ["error", "always"],
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "camelcase": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "func-names": ["error", "as-needed"],
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "comma-style": ["error", "last"],
    "function-call-argument-newline": ["error", "consistent"],
    "function-paren-newline": ["error", "consistent"],
    "id-length": ["error", { "min": 2 }],
    "indent": ["error", "tab", { "MemberExpression": 1 }],
    "jsx-quotes": ["error","prefer-double"],
    "key-spacing": ["error", { "beforeColon": false, "afterColon": true }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "line-comment-position": ["error", { "position": "above" }],
    "max-depth": ["error", { "max": 3 }],
    "max-len": ["error", { "code":100, "ignoreStrings": true, "ignoreRegExpLiterals": true }],
    "max-lines-per-function": ["error", { "max": 15 }],
    "max-lines": ["error", { "max": 300, "skipComments": true }],
    "max-params": ["error", { "max": 4 }],
    "max-statements": ["error", { "max": 8 }],
    "max-statements-per-line": ["error", { "max": 1 }],
    "multiline-comment-style": ["error", "starred-block"],
    "multiline-ternary": ["error", "always-multiline"],
    "new-cap": ["error", { "newIsCap": true, "capIsNew": true }],
    "new-parens": ["error", "never"],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "no-bitwise": "error",
    "no-continue": "error",
    "no-inline-comments": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-assign": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-plusplus": "error",
    "no-underscore-dangle": "error",
    "object-curly-newline": ["error", { "multiline": true }],
    "object-curly-spacing": ["error", "always"],
    "object-property-newline": ["error", { "allowAllPropertiesOnSameLine": true }],
    "one-var-declaration-per-line": ["error", "always"],
    "semi": ["error", "always"],
    "semi-spacing": ["error", { "before": false, "after": true }],
    "semi-style": ["error", "last"],
    "sort-imports": ["error", { "ignoreCase": false, "ignoreDeclarationSort": true }],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "space-unary-ops": "error",
    "switch-colon-spacing": ["error", { "after": true, "before": false }],
    "template-tag-spacing": ["error", "always"],
    "template-curly-spacing": ["error", "never"],
    "arrow-body-style": ["error", "as-needed"],
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "constructor-super": "error",
    "generator-star-spacing": ["error", { "before": false, "after": true }],
    "no-class-assign": "error",
    "no-confusing-arrow": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-new-symbol": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": ["error", { "ignoreImport": true }],
    "no-useless-return": "error",
    "no-var": "error",
    "no-void": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-numeric-literals": "error",
    "prefer-object-spread": "error",
    "prefer-spread": "error",
    "require-yield": "error",
    "rest-spread-spacing": ["error", "never"],
    "prefer-template": "error",
    "yield-star-spacing": ["error", "after"]
  },
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  }
}